body {font: normal 16px/1.5em helvetica, arial, sans-serif}
p {text-align:center}

#container {
	width:1400px;
	margin:20px auto;
}

#header {
	text-align:center;
	height:50px;
	padding:5px;
}

#content {
	float:left;
	width:1100px;
	text-align:center;
	padding-bottom:150px;
	
}

#sidebar {
	float:left;
	width:150px;
	text-align:center;
	height:100px;
	padding:150px 5px
}

#footer {
}

#logo {
	float:left;
}
